@use "../../styles/colors";

.profile-user{
    margin-left: 30%;
    width: 40%;
    margin-top: -10%;
    margin-bottom: 5%;
    
}
.avatar{
    
    flex: 1;
    
}
.avDiv{
    display: flex;
    justify-content: center;
    margin-bottom:5%;
}