@use "../../styles/colors";

.profile-collection-filters{
    margin-left:5%;
}
.search{
    color: colors.$text_primary;
    background-color: colors.$background_paper ;
    
    border-radius: 30px;
    max-height: 40px;
}

.icon{
    color: colors.$text_hint;
}
.select{
    border-radius: 15%;
    min-height: 80px;
}