@use "../../styles/colors";

.profile-user{
    margin-left: 5%;
    width: 40%;

    
}
.avatar{
    
    flex: 1;
    
}
.avDiv{
    display: flex;
    justify-content: center;
    margin-bottom:5%;
}