@use "../../styles/colors";

.profile-collection-filters{

}
.search{
    color: colors.$text_primary;
    background-color: colors.$background_paper ;
    
    border-radius: 30px;
}

.icon{
    color: colors.$text_hint;
}
.select{
    border-radius: 15%;
    max-height: 40px;
}