@use "../../styles/colors";

.container{
    
   width:40%;
    
}
.light{
    background-color: rgba(colors.$primary_main,30%) 
}
.dark{
    background-color: rgba(colors.$primary_main,60%) 
}
.number{
    width:15%;
    font-size: 200%;
    margin-left:30%;
    margin-right:20%;
}
.darknumber{
    background-color: rgba(colors.$primary_main,50%) 
}
.lightnumber{
    background-color: rgba(colors.$primary_main,20%) 
}
.user{
    margin-left:20%;
}