@use "../../styles/colors";

.user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto ;
  background-color: colors.$background_default;
  padding: 3px;
  grid-gap: 10px;  

}
.name{
    color: colors.$text_primary;
    font-size : 1rem;
    
}
.info{
    color: colors.$secondary_main;
    font-size : 1rem;
}
.avatar{
    grid-column-start: 1;
    grid-row-end: span 3;
    background-color: colors.$background_default ;
}

.innerGrid{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    background-color: colors.$background_default;
    padding: 3px;
}