@use "../../styles/colors";

.card{
    margin-left: 1%;
}
.likes{
    margin-left: 65%;
    
}
.price{
    color: colors.$secondary_main;
}
.title{
    font-weight: bold;
    font-size: 13px;
}
.count{
    background-color: colors.$secondary_main;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: colors.$background_default;
    font-weight: bold;
}
.badge{
    border-radius: 10px;
    background-color: colors.$secondary_main;
    color: colors.$background_default;
    max-width: 30%;
    margin-left: 70%;
    margin-bottom:3%;
   margin-right:5%;
    display:flex;
}