@use "../../styles/colors";
.product-info-creator{
   
    max-width:300px;
}

.product-info-creator-card{
    font-weight: bold;
    border-radius: 30px;
    min-height:100px;
    max-width: 300px;
}
.title{
    font-weight: bold;
    font: 20px Arial, sans-serif;
    background-color:rgba(colors.$primary_main,0.25);
    height:20%;
    color: colors.$text_secondary;
    text-align: center;

}
.user-container{
    background-color: rgba(colors.$primary_main,0.1);
    min-height: 100px;
    
}
.user{
    margin-left:30px;
}

