@use "../../styles/colors";

.product-info{
   background-color: colors.$background_default;  
   max-width: 600px;
}
.stats{
    margin-top:5%;
    margin-bottom:5%;
    
}
.grid{
    margin-top: 5%;
    margin-bottom:5%;
}
.title{
margin-top:10%;
}