@use "../../styles/colors";

.wrapper {
 
  max-height: 10px;
  background-color:   colors.$background_paper;
    align-items :center;
width: 100%;
}

.container {
    padding: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color:     colors.$background_paper;
  width: 100%;

}

.paper {
  max-width: 350px;
  width: 100%;
  font-size: 10rem;
  position: relative;
  top: 180px;
  text-align: center;
}

.search{

    background-color:colors.$background_default ;
    width: 400px;
}
.button{
    color: colors.$text_primary;
    width: 30px;
    
}

.icon{
    color: colors.$text_hint;
}