@use "../../styles/colors";

.avatar{
    
    background-color: colors.$background_default;
    
}
.image {
    flex: 1;
    border-radius: 50%;
    
}
.badge{
    width: 20px;
    height: 20px;
    align-self:flex-end;

}