@use "../../styles/colors";

.number{
   
    font-size: 100px;
    margin-left: 40%;
    background-color: rgba(colors.$primary_main,10%);
}
.title{
    color: colors.$text_primary;
    font-size: large;
    margin-left: 10%;
}
.description{
    color: colors.$text_secondary;
    margin-left: 10%;
    margin-right: 10%;
}
.darkGrid{
    background-color: colors.$background_default;
}
.lightGrid{
    background-color: colors.$background_paper;
}
.container{
    border-radius: 20%;
}